#configuración de envío de correos desde backend
MAIL_USER=
MAIL_PASS=

#Etiquetas de las imágenes docker
POSTGIS_TAG=latest
PGADMIN_TAG=latest
NGINX_TAG=latest
CERTBOT_TAG=latest

#Base de datos
DB_USER=
DB_PASS=
DB_NAME=

#Configuración de pgadmin
PGADMIN_MAIL=
PGADMIN_PASSWORD=
PGADMIN_PORT=8282

#Para la gestión de los certificados con certbot
CERTBOT_EMAIL=
DOMAIN=673bd45f-8f51-4f9e-bfdf-ad161612c2a6.pc.birt.eus

#Seguridad
JWT_SECRET=
