#configuración de envío de correos desde backend
MAIL_USER=
MAIL_PASS=

#Etiquetas de las imágenes docker
POSTGIS_TAG=17-3.5
PGADMIN_TAG=latest
NGINX_TAG=1.29.4
CERTBOT_TAG=latest
BACKEND_TAG=latest

#Path de descarga de la imagen de backend desde ghcr.io
BACKEND_PATH=xarrondobirt/aurkitu-back

#Base de datos
DB_USER=
DB_PASS=
DB_NAME=

#Configuración de pgadmin
PGADMIN_MAIL=
PGADMIN_PASSWORD=
PGADMIN_PORT=8282

#Para la gestión de los certificados con certbot
CERTBOT_EMAIL=
DOMAIN=673bd45f-8f51-4f9e-bfdf.ad161612c2a6.pc.birt.eus.pc.birt.eus

#Seguridad
JWT_SECRET=

#Para subidas de fotos y documentos
UPLOADS_ROOT_PATH=/uploads
UPLOADS_FOTO_DIR=${UPLOADS_ROOT_PATH}/fotos
UPLOADS_DOC_DIR=${UPLOADS_ROOT_PATH}/docs
DOCDIR=/uploads/docs
FOTODIR=/uploads/fotos