# --- Secretos y Entorno ---
.env
.env.local

# --- Por sien local se quiere añadir algo al compose del repo ....
compose.override.yaml

# --- Archivos de sistema ---
.DS_Store
Thumbs.db

# --- Si hubiera certificados, claves ...
*.pem
*.key
ssl/

backend/
backend/Dockerfile
backend/app.jar

#Para la creación inicial de la ase de datos por parte de postgres, pero se copia automáticamente en el CD
db/schema.sql
