server {
    # Escucha HTTP y redirige tutto a HTTPS
    listen 80;
    server_name ${DOMAIN};

    # Tamaño máximo de subida
    client_max_body_size 15M;

     #Para que certbot pueda poner ahí el challenge
    location /.well-known/acme-challenge/ {
        # Sirve los archivos desde el volumen que comparte Nginx con Certbot
        # Esta es la ruta DENTRO del contenedor de Nginx
        root /var/www/certbot;
    }

    location / {
        # Me ha sucedido que un 301 mata la petición postman con un POST y un JSON;
        # al redirigir, Postman (los navegadores también lo harían( transforma el POST en GET y pierde el body.
        # El back recibe un GET y responde con 405 Method Not Allowed.
        # Por eso, en lugar de un 301, devuelvo un 308 (Permanent Redirect que no cambia el verbo HTTP)
        # return 301 https://$host$request_uri;
        return 308 https://$host$request_uri;
    }
}

# OPTIMIZACIÓN RENDIMIENTO (problemas de que se queda colgada la web y no despierta hasta que se hace una petición a un endpoint)
# Hay que definir este bloque (como definir un grupo de servidores con un nombre), para los que
# se mantendrán 100 conexiones abiertas
upstream spring_backend {
    # 'backend' es el nombre del servicio en docker-compose
    server backend:8080;
    # Mantiene 100 conexiones abiertas esperando peticiones
    keepalive 100;
}

server {
    # HTTPS
    listen 443 ssl;
    server_name ${DOMAIN};

    # Certificados dentro del contenedor (volumen compartido con certbot)
    ssl_certificate /etc/letsencrypt/live/${DOMAIN}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${DOMAIN}/privkey.pem;

    # SSL recomendados
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers off;
    ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 20m;
    add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload" always;

    # QUITAR CUANDO NO HAYA PROBLEMAS CON EL CORS
    # ssl_session_tickets off;
    # ssl_verify_client off;

    # Subida de ficheros (sirve archivos estáticos)
    location /uploads/ {
        alias /var/www/uploads/;
        autoindex off;
        try_files $uri $uri/ =404;
    }

    # Proxy hacia el backend de Spring
    location /v1/ {

        #Configuración de CORS para permitir pruebas desde local (hasta que>
        #set $cors_origin 'http://localhost:4200';

        #if ($request_method = 'OPTIONS') {
        #    add_header 'Access-Control-Allow-Origin' $cors_origin always;
        #    add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, DELE>
        #    add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Req>
        #    add_header 'Access-Control-Max-Age' 1728000 always;
        #    add_header 'Content-Type' 'text/plain; charset=utf-8' always;
        #    add_header 'Content-Length' 0 always;
        #    return 204;
        #}

        #add_header 'Access-Control-Allow-Origin' $cors_origin always;
        #add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, DELETE, >
        #add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Request>
        #add_header 'Access-Control-Expose-Headers' 'Content-Length,Content->

        # proxy_set_header Origin "";     #Me daba un Forbidden
        # proxy_set_header Referer "";  #Me daba un Forbidden

        # Fin config CORS (quitar tras automatizar depliegue de frontend)

        # OPTIMIZACIÓN RENDIMIENTO
        # Mantiene la conexión abierta con el backend para reutilizarla en futuras peticiones
        proxy_pass http://spring_backend; # Usa el upstream definido arriba
        proxy_http_version 1.1; # Mantiene la conexión abierta con el backend (HTTP 1.0 no lo permite)
        proxy_set_header Connection ""; # Evita que se cierre la conexión después de cada petición
        proxy_set_header Upgrade $http_upgrade; # Permite WebSockets si se usan
        proxy_set_header Connection "upgrade"; # Mantiene la conexión abierta para WebSockets
        proxy_redirect off; # Si el backend redirige, se respeta y no se cambia la URL y se pasa así al cliente
        proxy_send_timeout 120s; # Tiempo máximo para enviar la petición al backend
        proxy_read_timeout 120s; # Tiempo máximo para leer la respuesta del backend (si tuviera que hacer una consulta larga, no es el caso)


        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Port $server_port;


    }
}